@media only screen and (max-width:480px) {
    //.header .entry-content .introduccion{padding: 0.5em}
    //.header .entry-content h1.page-title {display: none}

    //.main .content.services h4{margin-right: 0px}
    //.main .content.services ul li,
    //.main .content.services ul li:nth-child(2n){width:100%; float:left}

    // .main .content .solution{
    //   width:100%;
    //   height:auto;
    //   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    //   &:first-of-type{margin-top: 0;}
    //   &.right{float:none}
    //   &.odd{background: #dfdce6;}
    // }

}
@media only screen and (min-width:480px) {
    .main .content.services h4{margin-right: 0px}

}
@media only screen and (min-width:768px) {

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
