::selection{
  background: $caribbean_Green;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: $caribbean_Green;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: $caribbean_Green;
  color: #fff;
  text-shadow: none;
}
